<template name="Footer">
  <footer>

    <!--the shits-->
    <div class="menuv2 row">
      <a class="{{ isActiveRoute 'Home_Page'}} item" href="{{ pathFor 'Home_Page' }}">
        <span class="mitem">home</span>
      </a>
      <a class="{{ isActiveRoute 'Tutorial_Page'}} item" href="{{ pathFor 'Tutorial_Page' }}">
        <span class="mitem">tutorial</span>
      </a>

      <!-- wrap in log tags after CAS implementation -->

      <a class="{{ isActiveRoute 'About_Page'}} item" href="{{ pathFor 'About_Page' }}">
        <span class="mitem">about</span>
      </a>

      {{#if currentUser}}
      <a class="item cas-logout" href="#">
        <span class="mitem cas-logout">logout</span>
      </a>
      {{/if}}

    </div>
  </footer>
</template>
