body {
  color: #FFFFFF;
  padding-top: 70px;
}

.ui.two.row.main.container {
  width: 100%!important;
  margin:0 !important;
}

.ui.top.fixed.menu.menuv2.container {
  background: black;
  text-align: center;
  padding: 5px;
  margin: 0!important;
  width: 100%!important;
}

.play {
  border: 3px solid white!important;
  border-radius: 10px!important;
  padding: 15px 100px !important;
  background: rgba(0,0,0,0.5)!important;
  color: white!important;
  font-size: 24px!important;
  font-weight: 200!important;
}